@font-face {
    font-family: 'jostLight';
    src: URL('fonts/Jost-400-Book.ttf') format('truetype');
  }

@font-face {
    font-family: 'jostSemi';
    src: URL('fonts/Jost-600-Semi.ttf') format('truetype');
  }

body {
  font-size: 0.85rem;
  background: #f2f2f2;
  font-family: 'jostLight';
}
body,html{
    width:100%;
    height:100%;
    -webkit-transition:box-shadow .2s,height .2s,width .2s,background .2s,font-size .2s
}
*{
    margin:0;
    padding:0;
    border:0;
    outline:0
}
::-moz-focus-inner{
    border:0;
    outline:0
}
li,ol,ul{
    list-style:none;
    display:block;
    text-align:left
}
ul>li{
    display:-webkit-box;
    display:flex
}
a:active,a:focus,a:hover{
    text-decoration:none;
    color:#000
}
.container{
    position:relative;
    z-index:9
}
.mh{
    min-height:82%!important;
    min-height:82vh!important
}
.header-section{
    -webkit-box-align:center;
    align-items:center
}
.nav{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:end;
    justify-content:flex-end;
    flex-wrap:wrap;
    list-style:none
}
.nav li{
    position:relative;
    z-index:12;
    font-size:14px;
    margin-right:20px;
    line-height:24px
}
.text-center{
    text-align:center!important
}
.logo-block{
    margin-top:0
}
.green-text a{
    color:#03a87c
}
.green-text a:active,.green-text a:focus,.green-text a:hover{
    color:#027355
}
.get-started{
    padding:0 10px;
    border:1px solid #03a87c;
    border-radius:4px
}
li.get-started:hover{
    border:1px solid #027355
}
.nav-block{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:end;
    justify-content:flex-end
}
.violet{
    color:#673ab7
}
.black{
    color:#000
}
footer{
    position:relative;
    z-index:12;
    bottom:0;
    padding:20px 0
}
.form-control,input{
    padding:12px 10px;
    border:1px solid #efefef;
    border-radius:2px;
    width:100%
}
.form-control:active,.form-control:focus,input{
    border-color:#333
}
.input-list>li{
    margin-bottom:10px
}
.title{
    font-size:24px;
    line-height:24px;
    margin-bottom:20px;
    display:-webkit-box;
    display:flex
}
.not-found{
    font-size:36px;
    line-height:42px
}
.flex-container{
    height:100%;
    padding:0;
    margin:0;
    -webkit-box-align:center;
    align-items:center
}
.content-block,.flex-container{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:center;
    justify-content:center
}
.content-block{
    width:auto;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction:column;
    text-align:center
}
.h100{
    min-height:100%!important;
    min-height:100vh!important
}
.h70,.h100{
    position:relative;
    z-index:12
}
.h70{
    min-height:70%;
    min-height:70vh
}
.green-btn{
    padding:5px 10px;
    border:1px solid #03a87c;
    border-radius:4px;
    color:#03a87c;
    cursor:pointer;
    background:0 0
}
.mtb-30{
    margin-top:30px;
    margin-bottom:30px
}
.mtb-20{
    margin-top:20px;
    margin-bottom:20px
}
select{
    word-wrap:normal;
    padding:5px 10px;
    border:1px solid #eee;
    background:0 0;
    font-size:18px;
    line-height:24px;
    min-width:240px;
    text-transform:capitalize
}
.main-nav{
    margin-top:30px;
    margin-bottom:30px;
    color:rgba(0,0,0,.54);
    fill:rgba(0,0,0,.54);
    line-height:20px;
    font-size:16px;
    white-space:nowrap;
    text-transform:uppercase
}
.main-nav ul{
    display:-webkit-box;
    display:flex
}
.main-nav ul li{
    margin-left:24px
}
.main-nav ul li:first-child{
    margin-left:0
}
button{
    background:0 0
}
.active-link{
    color:#000;
    border-bottom:2px solid #333
}
.story-list li{
    display:-webkit-box;
    display:flex
}
.title{
    text-transform:capitalize
}
.mbt-10{
    margin-top:10px;
    margin-bottom:10px
}
.error{
    margin-top:20px;
    display:block
}
.form-btn{
    font-size:14px;
    line-height:20px;
    border-radius:2px;
    border:1px solid #50a948;
    padding:10px;
    min-width:200px;
    cursor:pointer;
    background:#03a87c;
    color:#fff
}
.form-btn:disabled,.form-btn[disabled]{
    border:1px solid #ccc;
    background-color:#ccc;
    color:#666
}
.ng-valid.required,.ng-valid[required]{
    border:1px solid #03a87c;
    border-left-width:3px
}
.ng-invalid:not(form){
    border-left:3px solid #000
}
.alert-div,.story-list li{
    margin-bottom:20px
}
.story-list li div{
    width:100%
}
.story-portion{
    color:#666;
    font-size:16px;
    line-height:20px;
    min-height:70px
}
.story-list a{
    color:rgba(0,0,0,.8);
    text-decoration:none;
    margin-bottom:10px;
    font-size:24px;
    line-height:24px;
    font-family:Georgia,serif;
    min-height:60px;
    display:block
}
.story-list a:hover{
    color:#000
}
.icon{
    margin-right:10px;
    color:#666;
    font-size:14px;
    line-height:30px
}
.story-info{
    font-size:12px;
    color:#666;
    margin-top:10px;
    display:block
}
.dot{
    font-size:10px;
    color:#989898
}
.story-info-div{
    border-bottom:1px solid #d6d6d6;
    padding-bottom:10px
}
.table td{
    vertical-align:middle;
    padding:.25rem
}
.table td div{
    cursor:pointer
}
.card-loader:after{
    background:-webkit-gradient(linear,left top,right top,color-stop(0,hsla(0,0%,100%,0)),color-stop(30%,hsla(0,0%,100%,.6)),color-stop(81%,hsla(0,0%,100%,0)))
}
@-webkit-keyframes loader-animate{
    0%{
        -webkit-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0)
    }
    to{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}
body{
    font-family:sans-serif;
    font-size:14px;
    line-height:14px;
    color:#444;
    position:relative;
    z-index:14
}
.container{
    max-width: 1140px
}
.f-12{
    font-size:12px!important
}
.f-16{
    font-size:16px!important
}
.f-18{
    font-size:18px!important
}
.f-20{
    font-size:20px!important
}
.form-control:active,.form-control:focus,input{
    border:#495057
}
.nav li:last-child{
    margin-right:0
}
#topHeader{
    position:relative;
    z-index:20;
    top:0;
    left:0;
    min-height:40px;
    background:#fff;
    width:100%;
    padding:15px 0;
    box-shadow:2px 2px 4px 0 rgba(83,70,70,.3);
    -webkit-box-shadow:2px 2px 4px 0 rgba(83,70,70,.3);
    -moz-box-shadow:2px 2px 4px 0 rgba(83,70,70,.3);
    -ms-box-shadow:2px 2px 4px 0 rgba(83,70,70,.3);
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}
.cart-li{
    font-weight:600
}
.fixedheader{
    position:fixed!important;
    top:0;
    -webkit-transition:all .2s linear;
    transition:all .2s linear
}
.component-div{
    margin-top:0
}
input{
    padding:12px 10px;
    border:1px solid #efefef;
    border-radius:2px;
    width:100%
}
.ng5-slider .ng5-slider-selection{
    background:#ffc107!important
}
.ng5-slider .ng5-slider-pointer{
    background-color:#28a745!important
}
.ng5-slider-active{
    background:#000!important
}
.card-loader{
    max-width:1140px;
    width:100%;
    margin:0 auto;
    overflow:hidden;
    background-color:#fff;
    padding:8px;
    position:relative;
    border-radius:2px;
    margin-bottom:0
}
.card-loader:only-child{
    margin-top:0
}
.card-loader:before{
    content:"";
    height:30px;
    display:block;
    background-color:#ededed;
    box-shadow:-68px -98px 0 -48px #ededed,-50px 110px 0 -48px #ededed
}
.card-loader:after{
    content:"";
    background-color:#333;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-name:loader-animate;
    animation-name:loader-animate;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    background:-webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),color-stop(30%,hsla(0,0%,100%,.6)),color-stop(81%,hsla(0,0%,100%,0)));
    background:linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.6) 30%,hsla(0,0%,100%,0) 81%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#00ffffff",GradientType=1)
}
@keyframes loader-animate{
    0%{
        -webkit-transform:translate3d(-100%,0,0);
        transform:translate3d(-100%,0,0)
    }
    to{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}
body{
    font-family:jostLight
}
select.form-control{
    padding:5px 10px
}
.ng5-slider-pointer.ng5-slider-active:after{
    background:#ffc107!important
}
.heading,.hr{
    border-bottom:1px solid #eee;
    padding-bottom:10px
}
.heading{
    font-size:16px;
    width:100%;
    display:block
}
.alert span{
    line-height:1.5em
}
.pricerange-div .label{
    font-size:12px;
    margin-bottom:5px;
    color:#666;
    display:inline-block
}
.pricerange-div input{
    max-width:100px;
    margin-right:10px
}
.dashboard{
    margin-left:180px;
    width:100%;
    -webkit-transition:all .8s ease;
    transition:all .8s ease
}
.remove{
    text-align:center;
    vertical-align:middle;
    display:table;
    cursor:pointer;
    color:#fff;
    font-weight:700;
    background:#e0e0e0;
    font-size:14px;
    line-height:16px;
    border-radius:50%;
    -webkit-transition:all .25s linear;
    transition:all .25s linear;
    width:17px;
    height:17px;
    margin:0 0 0 20px
}
.remove:hover{
    background:#f30
}
.li-cart:hover i,.li-cart a.active i,.li-cart i:active,.li-cart i:focus{
    color:#fff!important;
    -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.product-img{
    min-height:420px;
    height: 420px;
    overflow:hidden;
}
.sidebar a,a{
    cursor:pointer;
    font-size:14px
}
.link-border{
    border-radius:4px;
    padding:2px 5px;
    border:1px solid #999
}
.dropdown-item.active,.dropdown-item:active{
    color:#fff;
    background-color:#28a745
}
.f-link li{
    margin-right:5px;
    list-style:disc
}
.text-muted-custom,.text-muted-custom a{
    color:#b5b5b5
}
.text-muted-custom a:hover{
    color:#333
}
.dropdown-item{
    font-size:14px!important
}
.material-icons.md-18{
    font-size:18px;
    -webkit-transform:rotate(.03deg);
    transform:rotate(.03deg);
    margin-right:5px
}
.dropdown-item.active,.dropdown-item:active{
    color:#666;
    text-decoration:none;
    background-color:#fff
}
.insert-heading{
    cursor:pointer;
    font-size:18px;
    margin-bottom:10px
}
.pricerange-block input{
    width:60px;
    padding:2px;
    font-size:14px;
    margin-right:5px
}
.pricerange-block .label{
    font-size:10px
}
.filter-block{
    background:#ededed;
    margin:20px 0;
    border-radius:4px;
    padding:5px 0
}
.search-box{
    margin:0
}
.product-price{
    font-size:24px;
    font-weight:600;
    position:relative
}
.product-title{
    font-size:16px;
    position:relative;
    line-height:1.3em
    width: 100px;
    overflow-x: hidden;
}
.product-price .currency{
    font-size:10px;
    position:absolute;
    top:-2px;
    right:-10px;
    z-index:12
}
.ng5-slider{
    margin-top:28px!important
}
.ng5-slider.animate .ng5-slider-bubble{
    font-size:12px
}
.nav li{
    color:#444
}
.dropdown-item:focus,.dropdown-item:hover{
    border:0!important;
    outline:0!important
}
.list-group-item{
    padding:.2rem 1.25rem;
    background:none
}
.cp{
    cursor:pointer
}
.table{
    font-size:14px
}
.dashboard-link li{
    border-bottom:1px solid #d2d2d2;
    padding:.55rem .5rem;
    margin:10px
}
.dashboard-link li a{
    color:#333
}
.table td{
    padding:.6rem
}
.range-label{
    width:24px;
    font-size:10px;
    display:inline-block
}
.ng5-slider{
    height:0!important
}
select{
    font-size:14px;
    line-height:16px
}
#checkout-sidebar .checkout-sidebar__header{
    padding:0 0 10px
}
label{
    font-weight:400;
    line-height:16px
}
form input[type=checkbox],form input[type=radio]{
    display:none;
    opacity:0
}
.radiobox-holder{
    font-size:13px;
    border-radius:40px;
    width:16px;
    height:16px;
    display:inline-block;
    border:1px solid #bbb;
    text-align:center;
    line-height:10px;
    margin-right:10px;
    cursor:pointer;
    position:relative;
    float:left
}
.radiobox-holder span{
    font-size:7px;
    opacity:0;
    color:#666
}
input:checked+label span{
    opacity:1
}
input:checked .radiobox-holder span{
    font-size:5px!important
}
.form-heading,.form-heading h4{
    padding-bottom:5px
}
.form-heading h4{
    border-bottom:1px solid #eee
}
.product-img img:hover{
    transform:scale(1.12);
    -webkit-transform:scale(1.12);
    -moz-transform:scale(1.12);
    -ms-transform:scale(1.12);
    cursor:pointer;
    -webkit-transition:all .4s ease;
    transition:all .4s ease
}
.cart-container .currency{
    font-size:14px;
    font-family:sans-serif;
    position:relative;
    color:#666;
    margin:0 5px
}
.cart-container .multiply-symbol{
    margin:0 10px;
    font-size:18px
}
.cart-product-block{
    background:#f1f1f1;
    padding:20px;
    border:0 solid #eee;
    margin-bottom:2px
}
.item-price{
    position:relative
}
.item-number,.multiply-symbol{
    font-size:14px;
    color:#999
}
.item-info{
    margin:0 20px
}
.item-name h2{
    font-size:22px
}
.price,.total{
    font-size:20px
}
.empty-cart{
    font-size:1rem;
    line-height:1rem
}
.item-price-block{
    margin:20px 0
}
